@model List<Mess_Management_System.ViewModels.DailyMealViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="d-flex justify-content-end shadow-sm p-3 pt-1 pb-0 mb-4 bg-body rounded">

                <div class="col-5">
                <p class="fs-4 fw-semibold text-primary">Meal List</p>
                </div>
                <div>
                    <form asp-action="Index" method="get">
                        <div class="d-flex form-actions no-color">
                            <div class="me-2">
                                <input type="date" name="fromDate" class="btn btn-outline-secondary btn-sm" />
                                <div class="text-center small">From Date</div>
                            </div>
                            <div class="me-2">
                                <input type="date" name="toDate" class="btn btn-outline-secondary btn-sm" />
                                <div class="text-center small">To Date</div>
                            </div>
                            <div class="d-flex me-2">
                                <div class="me-2">
                                    <select name="MemberId" class="form-control btn btn-outline-secondary btn-sm" asp-items="@ViewBag.memberlist">
                                        <option>Select Member</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="submit" value="Submit" class="btn btn-dark btn-sm" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            

                <div class="text-end">
                    <a asp-controller="DailyMeal" asp-action="Create" class="btn btn-primary btn-sm">
                        <i class="bi bi-plus-circle-fill"></i> New
                    </a>
                </div>
        </div>

    </div>

    <table class="table table-borderd table-striped shadow-sm">
        <thead>
            <tr class="small text-center">
                <th>
                    MemberID
                </th>
                <th>
                    MemberName
                </th>
                <th>
                    Breakfast
                </th>
                <th>
                    Lunch
                </th>
                <th>
                    Dinner
                </th>
                <th>
                    Date
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach(var item in Model)
            {
                <tr class="small text-center">
                    <td width="10%">
                        @item.MemberId
                    </td>
                    <td width="15%">
                        @item.MemberName
                    </td>
                    <td width="10%">
                        @item.Breakfast
                    </td>
                    <td width="10%">
                        @item.Lunch
                    </td>
                    <td width="10%">
                        @item.Dinner
                    </td>
                    <td width="10%">
                        @item.Date.ToShortDateString()
                    </td>
                    <td>
                        <div class="btn-group mb-0" role="group">
                           <a asp-controller="DailyMeal" asp-action="Update" asp-route-id="@item.MealId" class="btn btn-primary rounded-1 btn-sm"> <i class="bi bi-pencil-square"></i></a>
                           @*<a asp-controller="Attendance" asp-action="Delete" asp-route-id="@item.AttendanceId" class="btn btn-danger mx-1 rounded-1 btn-sm"> <i class="bi bi-trash3-fill"></i></a>*@
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

